body {
  padding: 5%;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: black;
  background: #ada988;
}


/*header*/
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 30px;
  color: white;
  margin-top: 10px;
}

/*Top Navigation Bar*/
.topnav {
  overflow: hidden;
  background-color: #333;
  margin-top: 10px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: blue;
  color: white;
}
/*end of top nav*/


/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 35%;
  /*height: 300px;  only for demonstration, should be removed */
  background: #ccc;
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

/* Style the list inside the menu */
nav mnu {
  
  padding: 0;
  background-color: #ada988

}

.button {
  background-color: blue);
  border:3px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  margin:0, 20px, 0, 20;
  }

nav p {
  padding: 0;
  width: 100%;
  background-color: aqua;
}

aside {
  float: left;
  padding: 10px;
  width: 60%;
  background-color: #f1f1f1;
  margin-top: 10px;
     /*height: 300px; only for demonstration, should be removed */
}

aside2 {
  float: left;
  padding: 10px;
  width: 25%;
  background-color: #f1f1f1;
  margin-top: 10px;
  }


/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  margin-top: 10px;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
      width: 100%;
      height: auto;
  }
}